<div class="tables-page">

  <div class="page-header">
    <h1>Gestion des tables</h1>
  </div>

  <div class="create-form">

    <input
      type="text"
      placeholder="Numéro table"
      [(ngModel)]="newTable.tableNumber"
    >

    <input
      type="number"
      placeholder="Capacité"
      [(ngModel)]="newTable.capacity"
    >

    <button type="button" (click)="createTable()">
      Ajouter
    </button>

  </div>

  <p *ngIf="loading">Chargement...</p>

  <div class="tables-grid">

    <div class="table-card" *ngFor="let table of tables">

      <h2>{{ table.tableNumber }}</h2>

      <p>Capacité: {{ table.capacity }}</p>

      <div class="status">
        {{ table.status }}
      </div>
      <p *ngIf="table.status === 'OCCUPIED'">
  Occupied since:
  {{ table.occupiedMinutes || 0 }} min
</p>
<button
  *ngIf="table.status === 'OCCUPIED'"
  class="details-btn"
  (click)="openTableOrder(table.id)">
  Voir commande
</button>

      <div class="actions">

        <button
          type="button"
          (click)="updateStatus(table.id, 'FREE')">
          FREE
        </button>

        <button
          type="button"
          (click)="updateStatus(table.id, 'OCCUPIED')">
          OCCUPIED
        </button>

        <button
          type="button"
          (click)="updateStatus(table.id, 'RESERVED')">
          RESERVED
        </button>

      </div>

      <button
        class="delete-btn"
        type="button"
        (click)="deleteTable(table.id)">
        Delete
      </button>

    </div>

  </div>

</div>

<div
  class="modal-overlay"
  *ngIf="showOrderModal">

  <div class="modal-content">

    <h2>
      Commande #{{ selectedOrder?.id }}
    </h2>

    <p>
      Status:
      {{ selectedOrder?.status }}
    </p>

    <p>
      Total:
      {{ selectedOrder?.totalAmount }} DH
    </p>

    <h3>Produits</h3>

<div
  class="product-line"
  *ngFor="let item of selectedOrder?.items">
  
      <span>
        {{ item.productName }}
      </span>

      <span>
        x{{ item.quantity }}
      </span>

    </div>

    <button
      class="close-btn"
      (click)="closeModal()">

      Fermer

    </button>

  </div>

</div>