<div class="app-layout">

  <aside class="sidebar">
    <h2>POS Caisse</h2>

    <nav>
  <a routerLink="/dashboard" *ngIf="authService.isAdmin()">Dashboard</a>
  <a routerLink="/products" *ngIf="authService.isAdmin()">Produits</a>
  <a routerLink="/categories" *ngIf="authService.isAdmin()">Catégories</a>
  <a routerLink="/orders-history" *ngIf="authService.isAdmin()">Commandes</a>

  <a routerLink="/orders">POS / Caisse</a>
</nav>

    <button class="logout-btn" (click)="logout()">
      Logout
    </button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

</div>