<div class="app-layout">

  <aside class="sidebar">
    <h2>POS Caisse</h2>

    <nav>
      <button (click)="toggleDarkMode()" class="dark-btn">
  🌙
</button>
<li *ngIf="authService.hasPermission('DASHBOARD_VIEW')"><a routerLink="/dashboard">Dashboard</a></li>
<li *ngIf="authService.hasPermission('PRODUCT_VIEW')">
  <a routerLink="/products">Produits</a>
</li>

<li *ngIf="authService.hasPermission('CATEGORY_VIEW')">
  <a routerLink="/categories">Catégories</a>
</li>

<li *ngIf="authService.hasPermission('ORDER_VIEW')">
  <a routerLink="/orders-history">Commandes</a>
</li>

<li *ngIf="authService.hasPermission('POS_ACCESS')">
  <a routerLink="/orders">POS / Caisse</a>
</li>

<a routerLink="/roles" *ngIf="authService.hasPermission('ROLE_MANAGE')">
  Rôles
</a>

<a
  routerLink="/users"
  *ngIf="authService.hasPermission('USER_MANAGE')">
  Utilisateurs
</a>

<a routerLink="/settings" *ngIf="authService.hasPermission('SETTINGS_MANAGE')">
  Paramètres
</a>

</nav>

    <button class="logout-btn" (click)="logout()">
      Logout
    </button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <app-toast></app-toast>

</div>