<div class="app-layout">

  <aside class="sidebar">
    <h2>POS Caisse</h2>

    <nav>

  <button (click)="toggleDarkMode()" class="dark-btn">
    🌙
  </button>

  <ul>

    <li *ngIf="authService.hasPermission('DASHBOARD_VIEW')">
      <a routerLink="/dashboard">Dashboard</a>
    </li>

    <li *ngIf="authService.hasPermission('PRODUCT_VIEW')">
      <a routerLink="/products">Produits</a>
    </li>

    <li *ngIf="authService.hasPermission('CATEGORY_VIEW')">
      <a routerLink="/categories">Catégories</a>
    </li>

    <li *ngIf="authService.hasPermission('ORDER_VIEW')">
      <a routerLink="/orders-history">Commandes</a>
    </li>

    <li *ngIf="authService.hasPermission('ORDER_VIEW')">
  <a routerLink="/kitchen">Cuisine</a>
</li>

<li *ngIf="authService.hasPermission('ORDER_VIEW')">
  <a routerLink="/tables">Tables</a>
</li>

<li *ngIf="authService.hasPermission('ORDER_VIEW')">
  <a routerLink="/bar">Bar</a>
</li>

<li *ngIf="authService.hasPermission('ORDER_VIEW')">
  <a routerLink="/patisserie">Pâtisserie</a>
</li>

    <li *ngIf="authService.hasPermission('CUSTOMER_VIEW')">
      <a routerLink="/customers">Clients</a>
    </li>

    <li *ngIf="authService.hasPermission('POS_ACCESS')">
      <a routerLink="/orders">POS / Caisse</a>
    </li>

    <li *ngIf="authService.hasPermission('ROLE_MANAGE')">
      <a routerLink="/roles">Rôles</a>
    </li>

    <li *ngIf="authService.hasPermission('USER_MANAGE')">
      <a routerLink="/users">Utilisateurs</a>
    </li>

    <li *ngIf="authService.hasPermission('SETTINGS_MANAGE')">
      <a routerLink="/settings">Paramètres</a>
    </li>

    <li *ngIf="authService.hasPermission('POS_ACCESS')">
  <a routerLink="/caisse-session">Session caisse</a>
</li>

  </ul>

</nav>

    <button class="logout-btn" (click)="logout()">
      Logout
    </button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <app-toast></app-toast>

</div>