<div class="products-container">

  <h1>Produits</h1>

  <p *ngIf="loading">Chargement...</p>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

<button
  class="add-btn"
  *ngIf="authService.hasPermission('PRODUCT_CREATE')"
  (click)="showForm = !showForm">
  Ajouter produit
  </button>

  <div class="product-form" *ngIf="showForm">

    <h2>{{ editingProductId ? 'Modifier produit' : 'Nouveau produit' }}</h2>

    <input type="text" placeholder="Nom" [(ngModel)]="newProduct.name">
    <input type="number" placeholder="Prix" [(ngModel)]="newProduct.price">
    <input type="number" placeholder="Prix d'achat" [(ngModel)]="newProduct.costPrice">
    <input type="text" placeholder="Code-barres" [(ngModel)]="newProduct.barcode">
    <input type="text" placeholder="Image URL" [(ngModel)]="newProduct.imageUrl">
    <input type="number" placeholder="Stock" [(ngModel)]="newProduct.stockQuantity">

    <select [(ngModel)]="selectedCategoryId">
      <option [ngValue]="null">Choisir une catégorie</option>
      <option *ngFor="let category of categories" [ngValue]="category.id">
        {{ category.name }}
      </option>
    </select>

    <label>
      <input type="checkbox" [(ngModel)]="newProduct.active">
      Actif
    </label>

    <button class="save-btn" (click)="saveProduct()">
      {{ editingProductId ? 'Modifier' : 'Enregistrer' }}
    </button>

    <button class="cancel-btn" type="button" (click)="resetForm()">
      Annuler
    </button>

  </div>

  <div class="filters-box">

  <input
    type="text"
    placeholder="Rechercher par nom ou code-barres..."
    [(ngModel)]="searchText"
  >

  <select [(ngModel)]="selectedFilterCategoryId">
    <option [ngValue]="null">Toutes les catégories</option>
    <option *ngFor="let category of categories" [ngValue]="category.id">
      {{ category.name }}
    </option>
  </select>

  <select [(ngModel)]="selectedStatus">
    <option value="ALL">Tous les statuts</option>
    <option value="ACTIVE">Actif</option>
    <option value="INACTIVE">Inactif</option>
  </select>

</div>

  <table *ngIf="!loading && products.length > 0">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Prix achat</th>
        <th>Stock</th>
        <th>Code-barres</th>
        <th>Catégorie</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of getFilteredProducts()">
        <td>{{ product.name }}</td>
        <td>{{ product.price }} DH</td>
        <td>{{ product.costPrice }} DH</td>
        <td>
  <span [class.low-stock]="product.stockQuantity < 10">
    {{ product.stockQuantity }}
  </span>

  <span class="stock-badge" *ngIf="product.stockQuantity < 10">
    Stock faible
  </span>
</td>
        <td>{{ product.barcode }}</td>
        <td>{{ product.categoryName || '-' }}</td>
        <td>
  <span
  class="status-badge"
  [class.active]="product.active || product.isActive"
  [class.inactive]="!(product.active || product.isActive)"
  [class.disabled]="!authService.hasPermission('PRODUCT_UPDATE')"
  (click)="authService.hasPermission('PRODUCT_UPDATE') && toggleStatus(product)">
    {{ product.active || product.isActive ? 'Actif' : 'Inactif' }}
  </span>
</td>
        <td>
         <button
  class="edit-btn"
  *ngIf="authService.hasPermission('PRODUCT_UPDATE')"
  (click)="editProduct(product)">
  Modifier
</button>

          <button
  class="delete-btn"
  *ngIf="authService.hasPermission('PRODUCT_DELETE')"
  (click)="deleteProduct(product.id)">
  Supprimer
</button>

        </td>
      </tr>
    </tbody>
  </table>

<p *ngIf="!loading && getFilteredProducts().length === 0">    Aucun produit trouvé.
  </p>

</div>