<div class="dashboard-container">

  <h1>Dashboard</h1>

  <p *ngIf="loading">Chargement...</p>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

  <div class="cards" *ngIf="stats">
    <div class="card">
      <h3>Total Produits</h3>
      <p>{{ stats.totalProducts }}</p>
    </div>

    <div class="card">
      <h3>Total Commandes</h3>
      <p>{{ stats.totalOrders }}</p>
    </div>

    <div class="card">
  <h3>CA Aujourd’hui</h3>
  <p>{{ todayRevenue }} DH</p>
</div>

<div class="card">
  <h3>Commandes aujourd’hui</h3>
  <p>{{ todayOrders }}</p>
</div>

<div class="card">
  <h3>Bénéfice total</h3>
  <p>{{ profit | number:'1.0-2' }} DH</p>
</div>

<div class="card">
  <h3>Panier moyen</h3>
  <p>{{ todayAverageBasket | number:'1.0-2' }} DH</p>
</div>

    <div class="card">
      <h3>Total Utilisateurs</h3>
      <p>{{ stats.totalUsers }}</p>
    </div>

    <div class="card">
      <h3>Chiffre d'affaires</h3>
      <p>{{ revenue?.totalSales || 0 }} DH</p>
    </div>
  </div>

  <h2>Chiffre d'affaires mensuel</h2>

<div class="chart-card">
  <canvas
    *ngIf="chartData.length > 0"
    baseChart
    [data]="{
      labels: chartLabels,
      datasets: [
        {
          data: chartData,
          label: 'Revenue (DH)'
        }
      ]
    }"
    [type]="'bar'">
  </canvas>

  <p class="empty-state" *ngIf="chartData.length === 0">
    Aucune vente mensuelle disponible.
  </p>
</div>



  <div class="charts-row">

  <div class="chart-card">
    <h2>Produits les plus vendus</h2>

<div class="pie-wrapper">
  <canvas
    *ngIf="pieData.length > 0"
    baseChart
    [data]="{
      labels: pieLabels,
      datasets: [
        {
          data: pieData,
          label: 'Ventes'
        }
      ]
    }"
    [type]="'pie'">
  </canvas>
</div>

<p class="empty-state" *ngIf="pieData.length === 0">
  Aucun produit vendu pour le moment.
</p>

</div>

  <div class="chart-card">
    <h2>Revenue par jour</h2>

    <div class="chart-wrapper">
<canvas
  *ngIf="lineData.length > 0"
  baseChart
  [data]="{
    labels: lineLabels,
    datasets: [
      {
        data: lineData,
        label: 'Revenue journalier (DH)',
        tension: 0.3
      }
    ]
  }"
  [type]="'line'">
</canvas>
</div>

<p class="empty-state" *ngIf="lineData.length === 0">
  Aucune vente journalière disponible.
</p>
  </div>

</div>

  <h2>Produits en faible stock</h2>
  <table>
    <tr>
      <th>Produit</th>
      <th>Stock</th>
    </tr>

    <tr *ngIf="lowStock.length === 0">
    <td colspan="2">
      <div class="empty-state">
        Aucun produit en stock faible.
      </div>
    </td>
  </tr>
  
    <tr *ngFor="let product of lowStock">
      <td>{{ product.name }}</td>
      <td>{{ product.stockQuantity }}</td>
    </tr>
  </table>

</div>